<script>
export default {
  props: ["title", "src", "alt", "text"],
  data() {
    return {};
  },
};
</script>

<template>
  <div class="page">
    <h1>{{ title }}</h1>
    <div class="container">
      <div class="img">
        <!-- <img src="@/assets/1.sm.webp" alt="webp image" width="320" /> -->
        <img :src="src" :alt="alt" width="320" />
      </div>
      <div class="description">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
</template>

<style>
.container {
  display: flex;
}

.description {
  margin-left: 1em;
}

@media (min-width: 1024px) {
  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
